{% extends 'base.html' %}
{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Cruise destinations</h1>
        <a href="/destination/add" class="btn btn-success">Add New Destination</a>
    </div>
    
    <p>
        If you can imagine it, we travel to it! Below is our list of confirmed destinations.
    </p>
    
    <ul class="list-group">
        {% for destination in destinations %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'destination_detail' destination.id %}" style="text-decoration: none; color: inherit; flex-grow: 1;">
                {{ destination }}
            </a>
            <div>
                <a href="/destination/{{ destination.id }}/update" class="btn btn-sm btn-primary me-2">Edit</a>
                <a href="/destination/{{ destination.id }}/delete" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}